.login-container {
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
  
.login-container section.form {
    width: 40%;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 40px 30px;
    text-align: center;

}

.login-container section.form form h1 {
    font-size: 30px;
    margin-bottom: 32px;
}